<!DOCTYPE html>
<html>

<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='stylesheets/style.css' />

    <script>

    </script>

</head>

<body>
    <h1><%= title %></h1>
    <% include templates/header.ejs%>
    <br>
    <br>
    <!-- Column 1 -->
    <h1>
        This page tests a button
    </h1>
    <form class="forms" id="form1" method="POST" action="/editprojects/sample">
        <input type="submit" value="Click Me" onclick="doSomething()">
    </form>

</body>

</html>