<!DOCTYPE html>
<html>

<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='stylesheets/style.css' />
</head>

<body>
    <h1><%= title %></h1>
    <% include templates/header.ejs%>

    <!-- Column 1 -->
    <form class="forms" id="form1" method="POST" action="/editprojects/deleted">
        <div id="row1"> 
            <div id="leftDiv">
                <h1> Details </h1>
                <ul>
                    <li>
                        <label for="name">Name</label>
                        <input type="text" id="name" maxlength="30">
                    </li>
                    <li>
                        <label for="projectsType">Type</label>
                        <select id="proType" name="projectsType">
                        </select>
                    </li>
                    <li>
                        <label for="customer">Customer</label>
                        <select id="customer">
                            <option value="select"></option>
                            <option value="mary">Mary</option>
                            <option value="john">John</option>
                            <option value="pete">Pete</option>
                            <option value="heather">Heather</option>
                        </select>
                    </li>
                    <li>
                        <label for="notes">Notes</label>
                        <textarea id="notes" maxlength="300" onkeyup="adjust_textarea(this)"></textarea>
                    </li>
                    <h1> Open Projects </h1>
                    <select class="box" name="projects" id="projectsList" onclick="showDetails()" style="height: 105px"
                        size="999">
                    </select>
                    <input type="submit" value="Delete Project" onclick="return checkSelection()">
                    <input type="button" value="Clear" onclick="clearForms()" style="float: right">
                </ul>
            </div>

            <div id="rightDiv">
                <h1> Materials Used </h1>
                <ul>
                    <select class="box" id="usingList" name="materials" size="999" style="height: 358px">
                    </select>
                </ul>
                <ul>
                    <input type="button" value="Save" onclick="">
                    <input type="button" value="Remove -->" style="float: right;" onclick="">
                </ul>
            </div>
        </div>
    </form>

    <!-- Column 2 -->

    <!-- Column 3 -->


</body>

</html>