<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <link rel='stylesheet' href='/stylesheets/style.css' />
        
    </head>
    <body id="grad1">
        <h1 style="white-space: nowrap;"> <%= title %> </h1>

        <% include  templates/header.ejs%>

        <div></div>

        <!-- 
            There are recurring elements in this project, to which certain comments will apply
            Instead of commenting all occurrences, I commented only the first occurrence of each

            Materials.ejs has most of the notes
        -->

    </body>
</html>
