<!DOCTYPE html>
<html>

<head>
    <link rel='stylesheet' href='stylesheets/style.css'>

    <script type="text/javascript">
        //auto expand textarea
        function adjust_textarea(h) {
            h.style.height = "20px";
            h.style.height = (h.scrollHeight) + "px";
        }
    </script>

</head>

<body>
    <!-- The following notation is .ejs specific.  should look into utilizing this more-->
    <h1><%= title %></h1>
    <% include  templates/header.ejs%>
    <br>

    <!-- the header is no-wrapped
            each "column" is grouped as a "form" and each form is floated left 
            so their elements wrap together
        -->

    <!-- Column 1 -->
    <form class="forms" method="POST" action="/materials/submitted">
        <h1> Details </h1>
        <ul>
            <li>
                <label for="name">Name</label>
                <input type="text" name="name" maxlength="30">
            </li>
            <li>
                <!--
                        maxlength doesn't work for number fields, so the script in those fields
                        limits input to defined maxlength
                    -->
                <label for="qty">Quantity in stock</label>
                <input type="number" name="qty" maxlength="3" min="0" max="999" oninput="javascript: 
                    if (this.value.length > 3) this.value = this.value.slice(0, this.maxLength);">
            </li>
            <li>
                <label for="qtyUsed">Quantity in use</label>
                <input type="number" name="qtyUsed" maxlength="3" min="0" max="999" oninput="javascript: 
                    if (this.value.length > 3) this.value = this.value.slice(0, this.maxLength);">
            </li>
            <li>
                <label for="cost">Cost</label>
                <input type="number" name="cost" step="0.01" maxlength="3" min="0.01" max="999">
            </li>
            <li>
                <label for="extcost">Extended Cost</label>
                <input type="number" name="extcost" step="0.01" maxlength="3" min="0.01" max="999">
            </li>
            <li>
                <label for="notes">Notes</label>
                <textarea name="notes" onkeyup="adjust_textarea(this)"></textarea>
            </li>
            <li>
                <!--
                        Note, I changed this to "button" type instead of "submit"
                        this will have consequences down the road
                        Also, check the reset button down below
                    -->
                <input type="submit" value="Submit">
                <input type="reset" value="Clear" />
            </li>
        </ul>
    </form>

    <!-- Column 2 -->
    <form class="forms">
        <h1> Search </h1>
        <ul>
            <li>
                <label for="filter">Filter</label>
                <input type="text" name="filter" maxlength="30">
            </li>
            <!-- loops through all materials, lists in selection box -->
            <select class="box" id="materials" name="materials" size="999" style="height: 260px">
                <% allMaterials.materials.forEach(function(item){ %>
                <option value="<%= item.name %>"> <%= item.name %> </option>
                <% });%>
            </select>
        </ul>
    </form>

    <!-- Column 3 -->
    <form class="forms">
        <h1> Related Projects </h1>
        <ul>
            <select class="box" id="projects" name="projects" size="999">
                <option value="project1">Project 1</option>
                <option value="project2">Project 2</option>
                <option value="project3">Project 3</option>
                <option value="project4">Project 4</option>
            </select>
        </ul>
    </form>

</body>

</html>

