<!DOCTYPE html>
<html>

<head>
    <link rel='stylesheet' href='../stylesheets/style.css' />

</head>

<body>
    <h1 style="white-space: nowrap;"> <%= title %> </h1>

    <% include  templates/header.ejs%>
    <br>
    
    <h3> Submitted Successfully </h3>


</body>

</html>