
<div class="link" style=" padding-left:20px; white-space:nowrap;">
    <a href="/">Home</a> 
    <a href="/materials">Materials</a> 
    <a href="/projects">View Projects</a> 
    <a href="/editprojects">Edit Projects</a> 
    <a href="/customers">Customers</a> 
    <a href="/invoice">Invoice</a> 
    <a href="/reports">Reports</a> 
    <a href="/about">About</a> 
</div>
