/*******************************
* Main Style
*******************************/
:root {
    /*
    Purple (light)
    --colorMain: rgb(171, 140, 228);
    --colorBorder: rgb(133, 92, 187);
    --colorHover: rgb(207, 154, 250);
    Dark Blue
    --colorMain: rgb(24, 138, 184);
    --colorBorder: rgb(17, 86, 95);
    --colorHover: rgb(73, 150, 187);
    */
    
    --colorMain: rgb(24, 138, 184);
    --colorBorder: rgb(17, 86, 95);
    --colorHover: rgb(73, 150, 187);

    --colorlightGrey: rgb(221, 221, 221);
    --colorGrey: rgb(135, 135, 135);
    --colorDarkGrey: rgb(80, 80, 80);

    --fullwidth: 100%;
    }
html{
    height:100%;
}
#grad1 {
    height: 100%;
    background-color: rgb(138, 222, 243); /* For browsers that do not support gradients */
    background-image: linear-gradient(to bottom right, rgb(255, 255, 255), rgb(157, 189, 219)); /* Standard syntax (must be last) */
}
#row1{
    display:flex;
    flex-direction:row;
}
#leftDiv{
    float: left;
    flex-direction:column;
}
#centerDiv,
#rightDiv{
    padding-left: 20px;
    float: left;
    flex-direction:column;
}
h1{
	font-size: 50px;
	display: block;
	text-align: left;
	padding-left:20px;
	color: var(--colorDarkGrey);
}
.forms{
    float: left;
	max-width:200px;
    margin:20px auto;
    background:white;
	border-radius:2px;
	padding-left:20px;
}
.forms h1{
	display: block;
	text-align: left;
	padding: 0;
	margin: 0px 0px 10px 0px;
	color: var(--colorDarkGrey);
	font-size: 20px;
}
.forms ul{
	list-style:none;
	padding:0;
	margin:0;	
}
.forms li{
	display: block;
	padding: 9px;
	border:1px solid var(--colorlightGrey);
	margin-bottom: 15px;
	border-radius: 3px;
}
.forms li:last-child{
	border:none;
	margin-bottom: 0px;
	text-align: left;
}
.forms li > label{
	display: block;
	float: left;
	margin-top: -19px;
    background:white;
	height: 14px;
	padding: 2px 5px 2px 5px;
	color: var(--colorGrey);
	font-size: 14px;
	overflow: hidden;
	font-family: Arial, Helvetica, sans-serif;
}
.forms input[type="text"],
.forms input[type="number"],
.forms textarea,
.forms select 
{
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	width: 100%;
	display: block;
	outline: none;
	border: none;
	height: 20px;
	line-height: 20px;
	font-size: 15px;
	padding: 0;
	font-family: Georgia, "Times New Roman", Times, serif;
    background:white;
}
.forms textarea{
	resize:none;
}
a,
.forms input[type="button"],
.forms input[type="submit"],
.forms input[type="reset"]{
	background: var(--colorMain);
    border: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
	padding: 10px 15px 10px 15px;
	border-bottom: 3px solid var(--colorBorder);
	border-radius: 3px;
    color: #fff;
    text-decoration: none;
}
a:hover,
.forms input[type="button"]:hover,
.forms input[type="submit"]:hover,
.forms input[type="reset"]:hover{
	background: var(--colorHover);
	color:#fff;
}
.forms .box{
    height: 315px; 
    color: var(--colorGrey);
    border: 1px solid var(--colorlightGrey);
    margin-bottom: 15px;
    min-width:200px;
}


/*******************************
* Toggle Switch Style
*******************************/
.switch {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 17px;
}
.switch input { 
    opacity: 0;
    width: 0;
    height: 0;
}
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--colorMain);
    -webkit-transition: .4s;
    transition: .4s;
}
.slider:before {
    position: absolute;
    content: "";
    height: 13px;
    width: 13px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}
input:checked + .slider {
    background-color: var(--colorGrey);
}
input:focus + .slider {
    box-shadow: 0 0 1px var(--colorHover);
}
input:checked + .slider:before {
    -webkit-transform: translateX(13px);
    -ms-transform: translateX(13px);
    transform: translateX(13px);
}
/* Rounded sliders */
.slider.round {
    border-radius: 17px;
}
.slider.round:before {
    border-radius: 50%;
}