:root {
    /*
    Purple (light)
    --colorMain: rgb(171, 140, 228);
    --colorBorder: rgb(133, 92, 187);
    --colorHover: rgb(207, 154, 250);

    Dark Blue
    --colorMain: rgb(24, 138, 184);
    --colorBorder: rgb(17, 86, 95);
    --colorHover: rgb(73, 150, 187);
    */
    
    --colorMain: rgb(24, 138, 184);
    --colorBorder: rgb(17, 86, 95);
    --colorHover: rgb(73, 150, 187);
    --fullwidth: 100%;
  }
a{
	height: 14px;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    background: var(--colorMain);
    border: none;
    padding: 8px 12px;
	border-bottom: 3px solid var(--colorBorder);
	border-radius: 3px;
	color: rgb(255, 255, 255);
    text-decoration: none;
}
a:hover{
	background: var(--colorHover);
	color:#fff;
}
h1{
	font-size: 50px;
	display: block;
	text-align: left;
	padding-left:20px;
	color: #5C5C5C;
}
.forms{
    float: left;
	max-width:200px;
	margin:20px auto;
	background:#fff;
	border-radius:2px;
	padding-left:20px;
}
.forms h1{
	display: block;
	text-align: left;
	padding: 0;
	margin: 0px 0px 20px 0px;
	color: #5C5C5C;
	font-size: 20px;
}
.forms ul{
	list-style:none;
	padding:0;
	margin:0;	
}
.forms li{
	display: block;
	padding: 9px;
	border:1px solid #DDDDDD;
	margin-bottom: 15px;
	border-radius: 3px;
}
.forms li:last-child{
	border:none;
	margin-bottom: 0px;
	text-align: left;
}
.forms li > label{
	display: block;
	float: left;
	margin-top: -19px;
	background: #FFFFFF;
	height: 14px;
	padding: 2px 5px 2px 5px;
	color: #878787;
	font-size: 14px;
	overflow: hidden;
	font-family: Arial, Helvetica, sans-serif;
}
.forms input[type="text"],
.forms input[type="number"],
.forms textarea,
.forms select 
{
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	width: 100%;
	display: block;
	outline: none;
	border: none;
	height: 20px;
	line-height: 20px;
	font-size: 15px;
	padding: 0;
	font-family: Georgia, "Times New Roman", Times, serif;
}
.forms textarea{
	resize:none;
}
.forms input[type="button"]{
	background: var(--colorMain);
	border: none;
	padding: 10px 20px 10px 20px;
	border-bottom: 3px solid var(--colorBorder);
	border-radius: 3px;
	color: #fff;
}
.forms input[type="button"]:hover{
	background: var(--colorHover);
	color:#fff;
}
